body {
  background-color: hsl(34, 50%, 75%);
  text-align: center;
  color: hsl(0, 0%, 22%);
  margin: 50px;
}

h1 {
  font-family: "Oswald", sans-serif;
  /* text-align: center; */
  /* color: hsl(0, 0%, 22%); */
}

p {
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
  /* text-align: center; */
  /* color: hsl(0, 0%, 22%); */
}

a {
  font-family: "Fira Sans", sans-serif;
  color: hsl(331, 43%, 20%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline black;
}
